::-webkit-scrollbar {
   background-color: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-thumb {
   background-color: rgba(78, 78, 78, 0.5);
}

form {
   width: 100%;
}

/* ========== Scroll Bar Color and hover ============ */
::-webkit-scrollbar {
   width: 0.9rem;
   background-color: rgb(34, 40, 49);
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: rgb(49, 54, 63);
}

::-webkit-scrollbar-thumb:hover {
   background-color: rgb(118, 171, 174);
}
